---
import { frontmatter, Content } from "./_components/privacy-policy.md"
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/template/Prose.astro";
---
<Layout subtitle={frontmatter.title}>
  <div class="px-6 py-8 text-gray-900 flex flex-col items-center gap-6">
    <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
    <Prose>
      <Content />
    </Prose>
  </div>
</Layout>
