---
import * as icons from "@plott-life/ui/components/icons";
import Layout from "../../layouts/Layout.astro";
---
<Layout>
<section class="px-6 my-8 text-black">
  <h2 class="text-2xl text-bold">Black: 24px</h2>
  <div class="grid grid-cols-5">
    {Object.entries(icons).map(([name, Icon]) => (
      <div class="flex items-center gap-4 my-4">
        <Icon viewBox="0 0 24 24" class="size-6" preserveAspectRatio="xMidYMid meet" />
        <span class="text-sm">{name}</span>
      </div>
    ))}
  </div>
</section>
<section class="px-6 my-8 text-black">
  <h2 class="text-2xl text-bold">Black: 32px</h2>
  <div class="grid grid-cols-5">
    {Object.entries(icons).map(([name, Icon]) => (
      <div class="flex items-center gap-4 my-4">
        <Icon viewBox="0 0 24 24" class="size-8" preserveAspectRatio="xMidYMid meet" />
        <span class="text-sm">{name}</span>
      </div>
    ))}
  </div>
</section>
<section class="px-6 my-8 text-black">
  <h2 class="text-2xl text-bold">Black: 48px</h2>
  <div class="grid grid-cols-5">
    {Object.entries(icons).map(([name, Icon]) => (
      <div class="flex items-center gap-4 my-4">
        <Icon viewBox="0 0 24 24" class="size-12" preserveAspectRatio="xMidYMid meet" />
        <span class="text-sm">{name}</span>
      </div>
    ))}
  </div>
</section>
<section class="px-6 my-8 text-gray-600">
  <h2 class="text-2xl text-bold ">Gray-600: 24px</h2>
  <div class="grid grid-cols-5">
    {Object.entries(icons).map(([name, Icon]) => (
      <div class="flex items-center gap-4 my-4">
        <Icon class="size-6" preserveAspectRatio="xMidYMid meet" />
        <span class="text-sm">{name}</span>
      </div>
    ))}
  </div>
</section>
</Layout>
