---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';
import { Calendar, LocationSelect } from '@components/common';
import SearchWrapper from '@components/search/SearchWrapper';

const locations = ['서울', '경기·인천', '부산', '강원', '제주', '울산', '당진'];
---

<Layout>
  <Header
    slot='header'
    title='검색'
    showBackIcon={true}
    backgroundColor='bg-gray-100'
  />
  <div class='flex flex-col w-full bg-base-100 h-full'>
    <!-- 위치 -->
    <SearchWrapper
      client:load
      locations={locations}
    />
  </div>
</Layout>
