---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';
import { Calendar, LocationSelect } from '@components/common';
import { SearchWrapper } from './_components';

const locations = ['전체', '서울', '경기', '인천', '부산'];
---
<Layout subtitle='검색' keywordsPreset='location'>
  <Header
    slot='header'
    title='검색 - 플라트 라이프'
    showBackIcon={true}
    backgroundColor='bg-gray-100'
    backUrl='/'
  />
  <div class='flex flex-col w-full bg-base-100'>
    <SearchWrapper
      client:load
      locations={locations}
    />
  </div>
</Layout>
