---

---

<footer class='bg-[#f8f8f8] py-14 px-8'>
  <p class='text-[12px] font-bold text-black'>(주)핸디즈 사업자 정보</p>
  <p class='py-4 text-[11px] text-[#888] leading-[18px] font-normal'>
    대표이사 : 정승호<br />
    서울 서초구 강남구 327 대륭서초타워 5층<br />
    사업자 번호 : 152-86-00358<br />
    통신판매신고 : 2018 - 서울서초 - 0218호<br />
    객실예약문의 :
    <a
      href='mailto:life@plott.co.kr'
      class='underline text-[#888]'
    >
      life@plott.co.kr
    </a><br />
    사업제휴문의 :
    <a
      href='mailto:life@plott.co.kr'
      class='underline text-[#888]'
    >
      life@plott.co.kr
    </a>
  </p>
  <p class="text-[11px] text-[#888] leading-[18px] pb-4">
    호스팅 서비스 제공자 : (주)핸디즈<br />
    (주)핸디즈는 통신판매 중개자로서 통신판매의 당사자가 아닙니다.<br />
    상품, 상품정보, 계약, 이용 및 환불 등과 관련한 의무와 책임은 계약 당사자에게 있습니다.
  </p>
  <div class='flex gap-4'>
    <a
            id='privacy-policy'
            href='/info/privacy-policy' target="_blank"
            class='text-[11px] text-[#000] font-semibold'
    >
      개인정보처리방침
    </a>
    <a
            id='terms-of-service'
            href='/info/terms-of-service' target="_blank"
            class='text-[11px] text-[#000]'
    >
      이용약관
    </a>
    <a
            id='service-policy'
            href='/info/terms-of-service' target="_blank"
            class='text-[11px] text-[#000]'
    >
      서비스 운영정책
    </a>
    <button
      id='help'
      data-chat-open
      class='text-[11px] text-[#000]'
    >
      고객센터
    </button>
  </div>
</footer>
