---
import { Image } from 'astro:assets';

interface Props {
  status: number;
  title: string;
  description: string;
}

const { status, title, description } = Astro.props;
---
<div class='flex flex-col items-center'>
  <Image
    alt='error image'
    src='/images/warning-red.png'
    format='webp'
    width={40}
    height={40}
  />
  <h1 class='mt-10 title1'>{title}</h1>
  <p class='mt-2 mb-6 body6 text-gray-600'>{status} {description}</p>
  <a href='/' class='btn btn-primary w-[116px] body2'>홈으로</a>
</div>
