---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/template/Header.astro';
import { SignInForm } from './_components/SignInForm';
import { withQuery } from "ufo";

const searchParams = Astro.url?.searchParams;
const email = searchParams?.get('email');
const redirectURL = searchParams?.get('redirectURL');
---
<Layout>
  <Header
    slot='header'
    showBackIcon={true}
    showHomeIcon={true}
  />
  <div class="max-w-lg mx-auto h-full flex flex-col justify-between px-6 py-8">
    <SignInForm
      client:visible
      email={email}
      successURL={redirectURL || '/'}
      setPasswordURL='/auth/password'
      sentPasswordURL={withQuery('/auth/password/email', {
        email: email || '',
      })}
    />
  </div>
</Layout>
