---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/template/Header.astro";
import { PasswordForm } from "../../../components/auth/PasswordForm.tsx";
if (!Astro.locals.isLoggedIn) {
  return Astro.redirect("/auth/login");
}
const user = Astro.locals.user!!;
---
<Layout>
  <Header
    slot='header'
    title="비밀번호 변경"
    showBackIcon={true}
  />
  <div class="max-w-lg mx-auto h-full flex flex-col justify-between px-6 py-8">
    <PasswordForm client:visible />
  </div>
</Layout>
