---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';
import { VerifyEmailForm } from '../_components/VerifyEmailForm';
import { withQuery } from 'ufo';

const searchParams = Astro.url?.searchParams;
const email = searchParams?.get('email');
const redirectURL = searchParams?.get('redirectURL');
---

<Layout>
  <Header
    slot='header'
    showBackIcon={true}
  />
  <div class='flex flex-col max-w-2xl mx-auto py-4 px-6 md:px-24 md:py-12 lg:py-18'>
    <p class='title1 text-gray-900'>
      이메일 확인하기
    </p>
    <p class='body3 text-gray-600 pt-2 pb-6'>
      {email ? `${email}으로 보낸 코드를 입력하세요` : '가입시 입력하신 이메일을 확인해주세요.'}
    </p>
    <VerifyEmailForm
      client:visible
      email={email}
      successURL={withQuery('/auth/verify-email/success', {
        redirectURL,
      })}
    />
  </div>
</Layout>
