---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
const searchParams = Astro.url?.searchParams;
const redirectURL = searchParams?.get('redirectURL');
---
<Layout>
  <div class='relative h-full w-full flex flex-col justify-center items-center text-center'>
    <p
      class='title4 text-gray-600'
    >
      환영합니다!
    </p>
    <p
      class='title1 text-gray-900 mt-4 mb-21'
    >
      출장, 여행, 장기거주까지<br />
      편리하게 방을 찾아보세요!
    </p>
    <div>
      <Image
        alt='place_image'
        src='/images/place.png'
        format='webp'
        width={212}
        height={170}
      />
    </div>
  </div>
  <div
    slot='footer'
    class='px-6 py-6'
  >
    <a
      href={redirectURL}
      class='btn btn-lg btn-primary w-full body3'
    >
      서비스 시작하기
    </a>
  </div>
</Layout>
