@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #74594B;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #74594B;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(98% 0.003 247.858);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #3385FF;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #00BF40;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #FF9200;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #FF4242;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer utilities {
  /* Titles */
  .title1 { @apply text-[24px] leading-[32px] font-bold; }
  .title2 { @apply text-[20px] leading-[28px] font-bold; }
  .title3 { @apply text-[18px] leading-[26px] font-medium; }
  /* Body */
  .body1 { @apply text-[16px] leading-[24px] font-bold; }
  .body2 { @apply text-[16px] leading-[24px] font-medium; }
  .body3 { @apply text-[16px] leading-[24px] font-normal; }
  .body4 { @apply text-[14px] leading-[20px] font-bold; }
  .body5 { @apply text-[14px] leading-[20px] font-medium; }
  .body6 { @apply text-[14px] leading-[20px] font-normal; }
  /* Captions */
  .caption1 { @apply text-[12px] leading-[16px] font-normal; }
  .caption2 { @apply text-[11px] leading-[14px] font-bold; }
  .caption3 { @apply text-[11px] leading-[14px] font-normal; }
}
