---
import Layout from '../layouts/Layout.astro';
import Result from '../components/template/Result.astro';

interface Props {
  error: unknown;
}
const env = import.meta.env.NODE_ENV;
const { error } = Astro.props;
const message = env === 'production' ? 'An unexpected error has occurred.' : error instanceof Error ? error.message : 'Unknown error';
---
<Layout>
  <div class='min-h-screen flex justify-center items-center p-4'>
    <Result
      status={500}
      title='Internal Server Error'
      description={message} />
  </div>
</Layout>
