---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <div class="p-3 flex flex-col gap-6">
    <div class="title1">Template</div>
    <div class='w-full h-px bg-gray-300 my-0'></div>
    <div class="title3">원형 그림자 배경 버튼</div>
    <div class='flex items-center px-6 pb-4 w-full shadow-[0_6px_12px_0_rgba(0,0,0,0.05)]'>
      <a
        class='flex items-center space-x-2 w-full px-6 h-14 border-[1px] rounded-[28px] border-gray-200 shadow-[0_0_20px_0_rgba(0,0,0,0.05)] hover:shadow-[0_0_20px_0_rgba(0,0,0,0.1)] cursor-pointer'
      >
        <span class='body5 text-gray-700'>
          나에게 맞는 방 검색하기
        </span>
      </a>
    </div>
    <div class='w-full h-px bg-gray-300 my-0'></div>
  </div>
</Layout>
