---
import Layout from '@layouts/Layout.astro';
import { Input } from '@plott-life/ui';
---

<Layout>
  <div class='card card-border bg-base-50 w-96'>
    <div class='card-body'>
      <h2 class='title1'>Color</h2>
      <p></p>
    </div>
  </div>
  <p class='title1'>Text</p>
  <p class='title1'>Title 1</p>
  <p class='title2'>Title 2</p>
  <p class='title3'>Title 3</p>
  <p class='body1'>Body 1</p>
  <p class='body2'>Body 2</p>
  <p class='body3'>Body 3</p>
  <p class='body4'>Body 4</p>
  <p class='body5'>Body 5</p>
  <p class='body6'>Body 6</p>
  <p class='caption1'>Caption 1</p>
  <p class='caption2'>Caption 2</p>
  <p class='caption3'>Caption 3</p>
  <div class="bg-primary text-primary-500">
    test div
  </div>
  <button class="bg-primary">
    test
  </button>
</Layout>
