---
import Meta from '@layouts/Meta.astro';
import Scripts from '@layouts/Scripts.astro';
import '@styles/style.css';

const {
  metaData = {
    title: '홈페이지',
    description: '홈페이지 설명',
    image: '/social.png',
  },
} = Astro.props;
---

<html
  lang='ko'
  data-theme='light'
>
  <head>
    <Meta {...metaData} />
    <Scripts />
  </head>
  <body class='flex justify-center min-h-screen'>
    <div class='relative flex flex-col w-full min-h-screen bg-gray-100 shadow-lg'>
      <main class='flex-1 max-w-[600px] bg-white mx-auto w-full'>
        <slot name='header' />
        <slot />
        <slot name='footer' />
      </main>
      <!--<button class="fixed bottom-4 right-1/2 translate-x-1/2 btn btn-primary rounded-full shadow-lg"> + </button>-->
    </div>
  </body>
  <!-- 임시로 준비중 처리 -->
  <script type="module">
    const elements = [
      document.getElementById('search-button'),
      document.getElementById('nav-search'),
      document.getElementById('nav-contract'),
      document.getElementById('nav-my'),
      document.getElementById('btn-contract'),
    ];

    const handleExceptionEvent = (event) => {
      event.preventDefault();
      alert('준비중입니다!');
    };

    elements.forEach((el) => {
      if (el) el.addEventListener('click', handleExceptionEvent);
    });
  </script>
</html>
